.user-photo, .user-avatar {
  border-radius: 50%; 
}

.user-entry {
  text-align: center;
}

.entry-body h5 {
  font-weight: bold;
  font-size: 1.2em;
} 

.entry-body img {
  width: 45%;
}

.entry-body p {
  color: rgb(87, 85, 83);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}

.user-entry, .user-entry:hover, .user-entry:active, .user-entry:focus {
  border-color: #b3b3b3;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4); 
}

.user-entry header {
  height: 70px; 
  background-image: url(/devpost-rgb.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #003E54;
}

.user-entry .entry-body h4 {
  margin-top: 0.5em; 
}

.user-entry footer {
  background-color: #f0f0f0;
  padding: 6px;
}

.user-entry footer .count {
  display: inline-block;
  width: 32%;
  font-size: 0.6875em;
  color: #999794; 
}

.user-entry footer .count span {
  font-weight: bold;
  color: #1a1918;
  font-size: 1rem; 
}

.user-entry .user-photo {
  background: white;
  margin: 0 auto;
  height: 90px;
  width: 90px;
  margin-top: -52px;
  border: 3px solid white; 
}

.user-entry .follow-button-wrapper {
  min-height: 1.5em;
  margin-bottom: 0.3em; 
}

.hacker-card {
  cursor: pointer;
  max-width: 270px;
  font-family: 'HelveticaNeue', sans-serif;
}

.hacker-tile {
  cursor: pointer;
  max-width: 310px;
  font-family: 'HelveticaNeue', sans-serif;
}
